name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - id: files
        uses: jitterbit/get-changed-files@v1
      - run: |
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            echo "Do something with this ${changed_file}."
          done
      
      - id: count_models
        name: Count model files touched
        run: |
          cnt_models_changed=0
          for file in ${{ steps.files.outputs.added_modified }}; do
            if [[ $file == "models/"* ]] && [[ $file != "models/docs"* ]]; then
              echo $file
              let "cnt_models_changed+=1"
            else
              echo $file
            fi
          done
          echo "::set-output name=model_count::$cnt_models_changed"       

      - name: Test logic (True)
        if: steps.count_models.outputs.model_count > 0
        run: echo "There were ${{ steps.count_models.outputs.model_count  }} models touched"

      - name: Test logic (False)
        if: steps.count_models.outputs.model_count == 0
        run: echo "No Files!"

      - name: dbt-run
        uses: mwhitaker/dbt-action@master
        if: steps.count_models.outputs.model_count > 0
        with:
          dbt_command: "dbt run --profiles-dir . --exclude sample_data__store_sales"
